body {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    background-color: #ccfff3;
    color: black;
}


  .plants {
      width: 100%;
      height: 50%;
      margin-left: auto;
      margin-right: auto;
  }
  
  .home-text h3 {
      font-size: 18px;
      color: #404040;
  }