input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .interest-form {
      margin: 3vh;
      padding: auto;
      margin: auto;
      
  }

  .label-text {
      color: #267326;
      font-size: 18px;
      font-weight: 500;
      margin-top: 1vh;
      padding-left: 1vh;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  form {
      margin-bottom: none;
  }

  .join-button {
      float: right;
  }

  .undraw {
      width: 100%;
      height: 50%;
      display: block;
      margin: 2vh;
      margin: auto;
      padding: auto;
  }