.roster-image {
    height: 40%;
    width: 80%;
    display: block;
    padding: auto;
    margin: auto;
}

.profile-introduction {
    display: block;
    padding: auto;
    margin: auto;
    margin-top: 15vh;
}

.profile-name {
    font-size: 26px;
    font-weight: 500;
    color: #267326;
}

.profile-sub-title {
    font-size: 24px;
    font-weight: 500;
    color: #339933;
    padding-left: 10vh;
}

.profile-summary {
    font-size: 18px;
    color: #8c8c8c;
}

.profile-bio {
    line-height: 1.6;
}

.profile-bio-title {
    font-size: 22px;
    color: #339933;
    margin-top: 3vh;
    margin-left: 1vh;
    text-align: right;
}

.profile-bio-header {
    margin-left: 5vh;
    font-size: 20px;
    text-align: right;
    color: #990099;
    margin-top: 2vh;
}

.profile-bio-answers {
    font-size: 20px;
    text-align: left;
    color: #4d4d4d;
    margin-top: 10vh;
}
