
ion-content{
  --ion-background-color:  white  ;
}

.toolbar{
  background: #8388C8;
}




.sign-up-button {
  position: absolute;
  width: 50%;
  height: 10%;
  left: 25%;
  top: 22%;

  background: #8388C8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.log-in-button {
  position: absolute;
  width: 50%;
  height: 10%;
  left: 25%;
  top: 10%;

  background: #8388C8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.forgot-info-text {
  position: absolute;
  left: 30%;
  right: 0%;
  top: 34%;
  bottom: 0%;
  width: 40%;
  
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  
  text-decoration-line: underline;
  text-align: center;
  
  color:blue;
}