
ion-content{
  --ion-background-color:  #ffffcc  ;
}

.welcome-text {
  position: absolute;
  left: 70px;
  top: 100px;

  font-size: 24px;
}

.welcome-image {
  position: absolute;
  width: 120px;
  height: 150px;
  left: 85px;
  top: 90px;
}

.sign-up-button {
  position: absolute;
  width: 50%;
  height: 10%;
  left: 25%;
  top: 70%;

  background: #8388C8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.log-in-button {
  position: absolute;
  width: 50%;
  height: 10%;
  left: 25%;
  top: 57.5%;

  background: #8388C8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.forgot-info-text {
  position: absolute;
  left: 30%;
  right: 0%;
  top: 85%;
  bottom: 0%;
  width: 40%;
  
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  
  text-decoration-line: underline;
  text-align: center;
  
  color: #6891E0;
}