.activityPick{
    position: relative;
    width: 80%;
    height: 85%;

}
.F-1{
    width: 90%;
}
.slideDown{
    background-color: white;
    color: blue
}
.slideUp{
    background-color: white;
    color: blue
}


