ion-content{
  --ion-background-color:  #ffffcc  ;
}

/* Input icons */
.input-line-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 13px;
    top: 3px;
  }
  
  
  /* Input boxes */
  .input-line {
    background: #FFFFFF;
    border: 1px solid #B5B5B5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  
  .input-line-email {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 50px;
    top: 220px;
  }
  
  .input-line-password {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 50px;
    top: 270px;
  }
  
  .input-line-display-name {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 50px;
    top: 320px;
  }
  
  
  /* Placeholder text in input boxes */
  .input-line-text {
    position: absolute;
    height: 15px;
    width: 100px;
    top: 7px;
    left: 40px;
  
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    
    color: #B5B5B5;
  }
  
  /* Center logo */
  .center-logo {
    position: absolute;
    width: 120px;
    height: 150px;
    left: 90px;
    top: 90px;
  }
  
  .confirm-button {
    position: absolute;
    width: 150px;
    height: 35px;
    left: 70px;
    top: 380px;
    font-size: 14px;
    color: white;
  }

  .welcome-text {
    position: absolute;
    left: 80px;
    top: 20px;
  }

  
  