

.center-plant{
    position: absolute;
    width: 150px;
    height: 180px;
    left: 55px;
    top: 90px;
}
.left{
    left:20px;
}

.Activity-button{
    position: absolute;
    width: 100px;
    height: 41px;
    left: 135px;
    top: 290px;
    background: #8388C8;;
}

.next{
    position: absolute;
    width: 50px;
    left: 180px;
    top: 290px;
    background: #1A988A;
}
.welcome-image{
    position: relative;
    top: 50px;
    left: 0px;
    height: 250px;
    width: 200px;
}