

.center-plant{
    position: absolute;
    width: 150px;
    height: 180px;
    left: 55px;
    top: 90px;
}
.left{
    left:20px;
}

.Actuvity-button{
    position: absolute;
    width: 100px;
    height: 41px;
    left: 70px;
    top: 290px;
    background: #1A988A;;
}
.previous{
    position: absolute;
    width: 50px;
    left: 0px;
    top: 290px;
    background: #1A988A;
}

.next{
    position: absolute;
    width: 50px;
    left: 180px;
    top: 290px;
    background: #1A988A;
}
.left{
    position: absolute;
    left:0px;
}